@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #080727;
}

::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}