@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  background-color: #f6f3eb;
  overflow-x: hidden;
}
.bggradientpopup {
  background: #ffffff3f;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f6f3eb;
}

::-webkit-scrollbar-thumb {
  background: #ff4000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4000;
}